body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f0f0f0;
} 
.slider {
    width: 100%;
    overflow: hidden;
    border: 2px solid #2662e2;
    border-radius: 10px;
}
.slides {
    display: flex;
    width: 100%;
    animation: slide 20s infinite;
}
.slides img {
    width: 100%;
    border-right: 2px solid #ddd;
}
@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}